<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS development platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<%# check if custom navigation partial exists, getting the path from application helper %>
<% custom_sidebar_path = "#{lesli_engine.dig(:code)}/partials/engine-sidebar" %>

<%# validate the path to be sure the partial exists when trying to render it %>
<% custom_sidebar_exists = lookup_context.exists?(custom_sidebar_path, nil, true) %>

<application-component-sidebar>

    <template v-slot:brand>
        <%#= customization_instance_logo_tag(logo: "app-icon", options: { alt: "App logo", class: "is-hidden-desktop" }) %>
        <%= customization_instance_logo_tag(logo: "app-logo", options: { alt: "App logo", class: "is-hidden-touch" }) %>
    </template>

    <%# render navigation partial %>
    <% if custom_sidebar_exists %>
        <%= render partial: custom_sidebar_path %>
    <% end %>


    <%# Context message, set this message at the root of the lesli.yml or lesli.server.yml file Ej: context: "Hallo"%>
    <%# unless Rails.application.config.lesli.dig(:context).blank? %>
        <template v-slot:context>
            <p v-cloak class="has-background-warning has-text-centered py-2">
                <%#= Rails.application.config.lesli.dig(:context) %>
            </p>
        </template>
    <%# end %>

</application-component-sidebar>
