%header
    /= image_tag 'brand/leslicloud-logo.png'
    = link_to "Login", new_user_session_path, :class => 'navbar-link'
    = I18n.t('websites.landing.hello')

    = link_to "en", { :locale=>'en' }
    %br
    = link_to "es", { :locale=>'es' }
