%header
    = image_tag "brand/lesli-logo-banner.svg"
    = link_to "Login", new_user_session_path, :class => "navbar-link"
    = link_to "Register", new_user_registration_path, :class => "navbar-link"
    = I18n.t("core.shared.welcome")
