.navigation
    %div
        %a{:href => ""}
            %img{:alt => "LesliCloud logo", :src => "https://cdn.lesli.tech/leslicloud/brand/leslicloud_isotipo-nomargin.png"}/
    %nav
        %ul
            /%li %a{:href=>""}= t('.home')
            /%li %a{:href=>""}= t('.pricing')
            %li
                %a{:href=>""}= t('.sign_in')
