%section.trial
    %article
        %img{:alt => "LesliCloud logo", :src => "https://cdn.lesli.tech/leslicloud/brand/leslicloud_isotipo-nomargin.png"}/
        %div
            %p
                = t('.try')
                %span.lesli-title
                    lesli
                    %span Cloud 
                =t('.today')
            %p= t('.create_account')
        %a{ :href => ""}= t('.signup')
