=begin
[[license]]
=end
require_dependency "[[underscore_engine]]/application_controller"

module [[camel_case_engine]]
    class [[camel_case_resource]]::[[camel_case_plural_child]]Controller < ApplicationLesliController
        include Interfaces::Controllers::[[camel_case_plural_child]]
    end
end
