%h1 Listing account_plans

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @account_plans.each do |account_plan|
      %tr
        %td= link_to 'Show', account_plan
        %td= link_to 'Edit', edit_account_plan_path(account_plan)
        %td= link_to 'Destroy', account_plan, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Account plan', new_account_plan_path
