#/
#Lesli

#(c) Copyright 2019 Lesli Technologies, S. A. - all rights reserved.

#All the information provided by the company is protected by laws of Guatemala related 
#to industrial property, intellectual property, copyright and relative international laws. 
#Lesli Technologies, S. A. is the exclusive owner of all intellectual or industrial property
#rights of the code, texts, trade mark, design, pictures and any other information.
#Without the written permission of Lesli Technologies, S. A., any replication, modification,
#transmission, publication is strictly forbidden.

#Powered by Lesli - Building a better future, one line of code at a time.
#Developed by Lesli Technologies, S. A. - Enterprise Software Solutions.

#@author   Luis Donis <ldonis@lesli.tech>
#@license  All rights reserved.
#@version  GIT: 1.0.0 alpha
#/

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{rb,ts,vue,js,json,scss,styl,css,html}]
charset = utf-8

# 4 space indentation
[*.{rb,ts,vue,js,json,scss,styl,css,html}]
indent_style = space
indent_size = 4
