<div class="hero-foot is-flex is-justify-content-center">
    <ul class="is-flex">
        <li><a href="https://www.lesli.cloud">Website</a></li>
        <li><span class="icon">|</span></li>
        <li><a target="blank" href="https://www.lesli.cloud/legal/terms/">Terms and conditions</a></li>
        <li><span class="icon">|</span></li>
        <li><a target="blank" href="https://www.lesli.cloud/legal/privacy/">Privacy statement</a></li>
        <li><span class="icon">|</span></li>
        <li><a target="blank" href="https://www.lesli.cloud/support/">Support</a></li>
    </ul>
</div>
