=begin
[[license]]
=end
module [[camel_case_engine]]
    class [[camel_case_resource]]::Discussion < CloudObject::Discussion
        belongs_to :cloud_object, class_name: "[[camel_case_engine]]::[[camel_case_resource]]", foreign_key: "[[underscore_engine]]_[[underscore_plural_resource]]_id" 

        belongs_to :parent,         class_name: "Discussion",   optional: true
        has_many   :children,       class_name: "Discussion",   foreign_key: "parent_id"
    end
end
