%h1 Listing bells

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @bells.each do |bell|
      %tr
        %td= link_to 'Show', bell
        %td= link_to 'Edit', edit_bell_path(bell)
        %td= link_to 'Destroy', bell, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bell', new_bell_path
