%h1 Listing user_details

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @user_details.each do |user_detail|
      %tr
        %td= link_to 'Show', user_detail
        %td= link_to 'Edit', edit_user_detail_path(user_detail)
        %td= link_to 'Destroy', user_detail, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Detail', new_user_detail_path
