=begin

[[license]]
=end
require "rails_helper"
require "spec_helper"
require "byebug"


RSpec.describe "POST:[[url]].json", type: :request do
    include_context "user authentication"

    before(:all) do
        @[[controller]]_params = {}

        post("[[url]].json", params: {
            [[controller]]: @[[controller]]_params
        })
    end

    include_examples "successful standard json response"

    it "is expected to test the creation of the record" do
        expect(@response_body["data"]["id"]).to be > 0

        @[[controller]]_params.each do |key, value|
            expect(@response_body["data"][key.to_s]).to eq(value)
        end
    end

end
