=begin

[[license]]
=end


require "lesli_request_helper"


RSpec.describe "Tests for Lesli3", type: :request, :unless => defined?(DeutscheLeibrenten) do
    describe "DELETE:[[url]]/:id.json", type: :request do
        include_context "request user authentication"
        
        # helper methods

        #def create_record(record_params)
            #define a method to create and object and be sure the table will not be empty of data
        #end

        # test cases

        it "is expected that the record has been removed from the database" do
            #@[[controller]] = create_record({})
            #before run test, you must create an object of the class youll like to test

            delete("[[url]]/#{@[[controller]].id}.json")

            # shared examples
            expect_response_with_successful

        end

        it "is expected to respond with not found when an invalid ID is sent" do
            # this ID does not exist, so should return with not found
            #@invalid_id = create_record({}).id + 1

            delete("[[url]]/#{@invalid_id}.json")
            
            # shared examples
            expect_response_with_not_found
        end
    end
end
