=begin

[[license]]
=end


require "lesli_request_helper"
require "spec_helper"
require "byebug"


RSpec.describe "GET:[[url]].json", type: :request do
    include_context "request user authentication"

    # helper methods


    # test cases

    it "is expected to respond with all the records" do
        get("[[url]].json")

        # shared examples
        expect_json_response_successful

        # custom expects
        expect(response_data.count).to eql([[model]].count)
    end

    it "is expected to redirect to login when no user is authenticated" do
        login = "/login"

        # we ensure that no one user is authenticated
        sign_out @current_user

        get("[[url]].json")

        # custom expects
        expect(response).to redirect_to(login)
    end

end
