=begin

[[license]]
=end


require "lesli_request_helper"

RSpec.describe "Tests for Lesli3", type: :request, :unless => defined?(DeutscheLeibrenten) do
    describe "GET:[[url]].json", type: :request do
        include_context "request user authentication"

        # helper methods

        #def create_record(record_params)
            #define a method to create and object and be sure the table will not be empty of data
        #end

        # test cases

        it "is expected to respond with successful" do
            get("[[url]].json")

            # shared examples
            expect_response_with_successful

        end
    end
end
