=begin

[[license]]
=end


require "lesli_request_helper"
require "spec_helper"
require "byebug"


RSpec.describe "PUT:[[url]]/:id.json", type: :request do
    include_context "request user authentication"

    # helper methods

    def create_record(record_params)
        @[[controller]]_record = @current_user.account.[[model]].new(record_params)
        @[[controller]]_record.save!
        @[[controller]]_record
    end

    # test cases

    it "is expected to update record" do
        @[[controller]] = create_record({})

        @[[controller]]_params = {}

        put("[[url]]/#{@[[controller]].id}.json", params: {
            [[controller]]: @[[controller]]_params
        })

        # shared examples
        expect_json_response_successful

        # custom examples
        @[[controller]]_params.each do |key, value|
            expect(response_data[key.to_s]).to eq(value)
        end
    end

    it "is expected to respond with error when params are invalid" do
        @[[controller]] = create_record({})

        @[[controller]]_params = {}

        put("[[url]]/#{@[[controller]].id}.json", params: {
            [[controller]]: @[[controller]]_params
        })

        # shared examples
        expect_json_response_error
    end

    it "is expectd to respond with not found when an invalid ID is sent" do
        @invalid_id = create_record({}).id + 1

        @[[controller]]_params = {}

        put("[[url]]/#{@invalid_id}.json", params: {
            [[controller]]: @[[controller]]_params
        })

        # shared examples
        expect_json_response_not_found
    end

    it "is expectd to redirect to login when no user is authenticated" do
        login = "/login"

        # we ensure that no one user is authenticated
        sign_out @current_user

        put("[[url]]/0.json", params: {
            [[controller]]: {}
        })

        # custom expects
        expect(response).to redirect_to(login)
    end

end

