<% if defined?(CloudHaus) %>
    <section class="cloudhaus-login">
    <%= render :file => "cloud_haus/core/devise/passwords/edit.html.erb" %>
    </section>
<% end %>

<% if defined?(CloudLesli) %>

<% end %>

