<% if defined?(CloudHaus) %>
    <section class="cloudhaus-login">
    <%= render :file => "cloud_haus/core/devise/passwords/new.html.erb" %>
    </section>
<% end %>

<% if lesli_instance("LesliCloud") %>
<section class="leslicloud-login">
<%= render :file => "lesli_cloud/core/devise/passwords/new.html.erb" %>
</section>
<% end %>

