<% if defined?(CloudHaus) %>
    <section class="cloudhaus-login">
    <%= render :file => "cloud_haus/core/users_passwords.html.erb" %>
    </section>
<% end %>

<% if defined?(CloudLesli) %>

<% end %>

