%h1 Listing bell_emails

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @bell_emails.each do |bell_email|
      %tr
        %td= link_to 'Show', bell_email
        %td= link_to 'Edit', edit_bell_email_path(bell_email)
        %td= link_to 'Destroy', bell_email, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Email', new_bell_email_path
