

.account-settings {

    .settings-branding {

        .main-logo {
            max-width: 400px;

            img.company-logo-uploaded {
                width: 100%;

                &.error {
                    margin: 0 auto;
                    max-width: 150px;
                }

            }

        }
        
    }

    .settings-theme {

        .field {
            max-width: 400px;
        }
        
    }

}

