

.account-settings {

    .settings-branding {

        img.company-logo-uploaded {
            width: 100%;

            &.error {
                margin: 0 auto;
                max-width: 150px;
            }

        }
        
    }

}

