<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to
industrial property, intellectual property, copyright and relative international laws.
All intellectual or industrial property rights of the code, texts, trade mark, design,
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// ·

%>

<section class="hero is-fullheight is-align-items-center">
    <div class="hero-body is-justify-content-center is-flex-direction-column p-0">
        <router-view></router-view>
    </div>
    <%= render partial: "devise/shared/footer" %>
</section>

