%h1 Listing settings

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @settings.each do |setting|
      %tr
        %td= link_to 'Show', setting
        %td= link_to 'Edit', edit_setting_path(setting)
        %td= link_to 'Destroy', setting, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Setting', new_setting_path
