%h1 Listing company_role_privileges

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @company_role_privileges.each do |company_role_privilege|
      %tr
        %td= link_to 'Show', company_role_privilege
        %td= link_to 'Edit', edit_company_role_privilege_path(company_role_privilege)
        %td= link_to 'Destroy', company_role_privilege, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Role privilege', new_company_role_privilege_path
