%h1 Listing lesli_dashboards

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @lesli_dashboards.each do |lesli_dashboard|
      %tr
        %td= link_to 'Show', lesli_dashboard
        %td= link_to 'Edit', edit_lesli_dashboard_path(lesli_dashboard)
        %td= link_to 'Destroy', lesli_dashboard, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dashboard', new_lesli_dashboard_path
