%h1 Listing core_user_roles

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @core_user_roles.each do |core_user_role|
      %tr
        %td= link_to 'Show', core_user_role
        %td= link_to 'Edit', edit_core_user_role_path(core_user_role)
        %td= link_to 'Destroy', core_user_role, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User role', new_core_user_role_path
