<%#

Lesli

Copyright (c) 2025, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by LesliTech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<% title = defined?(title) ? title : "" %>
<% back_to_login = defined?(back_to_login) ? back_to_login : false %>

<main id="lesli-application" class="standard-auth-view">
    <section class="columns is-gapless">
        <div class="column login-form">
            <div class="hero is-fullheight">
                <% if back_to_login %>
                    <div class="hero-head pt-6 pl-6">
                        <%= link_to new_user_session_path, :class => "has-text-primary" do %>
                            <span class="icon-text">
                                <span class="icon ri-lg">
                                    <i class="ri-arrow-left-s-line"></i>
                                </span>
                                <span>Back to Login</span>
                            </span>
                        <% end %>
                    </div>
                <% end %>
                <div class="hero-body is-flex-direction-column is-justify-content-center">

                    <%# Logo container %>
                    <div class="logo has-text-centered mb-6">
                        <%= image_tag(
                           "#{lesli_instance_code}/brand/app-auth.svg",    # dynamic path to the instance main logo
                            :class => "#{lesli_instance_code}-logo mb-2",  # dynamic class according to the instance
                            :alt => "Main logo") 
                        %>
                        <h1 class="is-title is-size-3 has-text-primary">
                            <%#= I18n.t("core.users/sessions.view_text_welcome") %>
                            <%= title %>
                        </h1>
                    </div>

                    <%= yield %>

                </div>
                <%# footer %>
                <%#= render partial: "devise/shared/footer" %>
            </div>
        </div>
        <div class="column background is-hidden-touch"></div>
    </section>
</main>
