%h1 Listing role_details

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @role_details.each do |role_detail|
      %tr
        %td= link_to 'Show', role_detail
        %td= link_to 'Edit', edit_role_detail_path(role_detail)
        %td= link_to 'Destroy', role_detail, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Detail', new_role_detail_path
