%h1 Listing company_location_countries

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @company_location_countries.each do |company_location_country|
      %tr
        %td= link_to 'Show', company_location_country
        %td= link_to 'Edit', edit_company_location_country_path(company_location_country)
        %td= link_to 'Destroy', company_location_country, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Location country', new_company_location_country_path
