# frozen_string_literal: true

class <%= class_name %>Service
    def initialize(record = nil)
        @record = record
    end

    def create(params)
        <%= class_name %>.create(params)
    end

    def update(params)
        return false unless @record
        @record.update(params)
    end

    def destroy
        return false unless @record
        @record.destroy
    end

    private

    attr_reader :record
end
