<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Not found</h1>
            <p>
                <%= link_to "home", "/"%>
                &bull;
                <%= link_to "profile", "/profile"%>
            </p>
        </div>
    </div>
</section>
