<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS development platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<%# custom_app_page_clas = "#{ lesli_instance_code }-session".downcase %>
<%# custom_app_page_path = "#{ lesli_instance_code }/lesli/devise/sessions/new" %>
<%# custom_app_page_exists = lookup_context.exists?(custom_app_page_path) %>
<% custom_app_page_exists = false %>

<%# render custom view in builder module %>
<%# if custom_app_page_exists %>
<%# <main id="lesli-application" class="<%= custom_app_page_clas % >"> %>
    <%#= render :template => custom_app_page_path %>
<%# </main> %>
<%# end %>

<%# core view for passses %>
<% unless custom_app_page_exists %>
    <%= render("lesli/wrappers/application-auth") do %>

        <%# Logo container %>
        <div class="logo has-text-centered mb-4">
            <%= image_tag(
                "#{lesli_instance_code}/brand/app-auth.svg",    # dynamic path to the instance main logo
                :class => "#{lesli_instance_code}-logo",        # dynamic class according to the instance
                :alt => "Main logo") 
            %>
            <h1 class="has-text-primary">
                <%= I18n.t("core.users/sessions.view_text_welcome") %>
            </h1>
        </div>

        <%# Log in form %>
        <form @submit="postLogin" method="post">
            <div class="field mb-4">
                <label for="user_email" class="label">E-mail address</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        required
                        id="user_email"
                        name="user_email"
                        type="email"
                        ref="email"
                        :class="['input', `is-${notification.type}`]"
                        placeholder="hello@lesli.tech"
                        v-model="sign_in.email"
                        @input="typing">
                    <span 
                        class="icon is-small is-left" 
                        :class="['icon', 'is-small', 'is-left', `has-text-${notification.type}`]">
                        <i class="ri-user-line"></i>
                    </span>
                </div>
            </div>
            <div class="field mb-5">
                <label for="user_password" class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                        required
                        id="user_password"
                        name="user_password"
                        type="password"
                        ref="password"
                        :class="['input', `is-${notification.type}`]"
                        placeholder="* * * * * * *"
                        v-model="sign_in.password"
                        @input="typing">
                    <span 
                        :class="['icon', 'is-small', 'is-left', `has-text-${notification.type}`]">
                        <i class="ri-key-fill"></i>
                    </span>
                    <span 
                        @click="togglePasswordInput()"
                        :class="['icon', 'is-small', 'is-right', `has-text-${notification.type}`]">
                        <i class="ri-eye-fill"></i>
                    </span>
                </div>
                <p v-cloak v-if="notification.show" :class="['help', `is-${notification.type}`]">
                    {{ notification.message }}
                </p> 
            </div>

            <%#
            <div class="field mb-4">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" />
                        Stay logged in
                    </label>
                </div>
            </div>
            %>
            <div class="field mb-6">
                <div class="control is-fullwidth">
                    <button 
                        type="submit" 
                        :class="['button', 'is-primary', 'is-fullwidth', 'mb-2', {'is-loading':loading}]">
                        Log in
                    </button>
                </div>
            </div>
            <div class="field mb-6" v-if="false">
                <p class="message has-text-success">Registration successfully done. Please check your E-mail to activate your account.</p>
            </div>
        </form>

        

    <% end %>
<% end %>
