%section
    %a.logo{:href => root_path}
        %img{:alt => "LesliCloud logo", :src => "/assets/brand/leslicloud-logo.svg"}/

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        .field
            %p.control.has-icons-left
                %input.input{:type => "email", :placeholder => "Username"}
                %span.icon.is-small.is-left
                    %i.fas.fa-envelope

        .field
            %p.control.has-icons-left
                %input.input{:type => "password", :placeholder => "Password"}
                %span.icon.is-small.is-left
                    %i.fas.fa-lock

        = f.submit "Log in", class: "button is-primary"

    .links
        = render "devise/shared/links"
