
<% if lesli_instance("CloudHaus") %>
    <section class="cloudhaus-login">
    <%= render :file => "cloud_haus/core/devise/sessions/new.html.erb" %>
    </section>
<% end %>

<% if lesli_instance("LesliCloud") %>
    <section class="leslicloud-login">
    <%= render :file => "lesli_cloud/core/devise/sessions/new.html.erb" %>
    </section>
<% end %>
