<h1>Editing session</h1>

<%= render "form", devise_session: @devise_session %>

<br>

<div>
  <%= link_to "Show this session", @devise_session %> |
  <%= link_to "Back to sessions", devise_sessions_path %>
</div>
