%h1 Listing lock_user_role_privileges

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @lock_user_role_privileges.each do |lock_user_role_privilege|
      %tr
        %td= link_to 'Show', lock_user_role_privilege
        %td= link_to 'Edit', edit_lock_user_role_privilege_path(lock_user_role_privilege)
        %td= link_to 'Destroy', lock_user_role_privilege, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User role privilege', new_lock_user_role_privilege_path
