<%
=begin

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS development platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
=end
%>

<% back_to_login = defined?(back_to_login) ? back_to_login : false %>
<% custom_app_page_clas = "#{ lesli_instance_code }-session".downcase %>

<main id="lesli-application" class="standard-auth-view <%= custom_app_page_clas %>">
    <section class="columns is-gapless">
        <div class="column">
            <div class="hero is-fullheight">
                <% if back_to_login %>
                    <div class="hero-head pt-6 pl-6">
                        <%= link_to new_user_session_path, :class => "has-text-primary" do %>
                            <span class="icon-text">
                                <span class="icon ri-lg">
                                    <i class="ri-arrow-left-s-line"></i>
                                </span>
                                <span>Back to Login</span>
                            </span>
                        <% end %>
                    </div>
                <% end %>
                <div class="hero-body is-flex-direction-column is-justify-content-center">

                    <%= yield %>

                </div>
                <%# footer %>
                <%= render partial: "devise/shared/footer" %>
            </div>
        </div>
        <div class="column is-hidden-touch"></div>
    </section>
</main>
