<section class="application-component">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header-title">
                Empty
            </h4>
        </div>
    </div>
</section>
