%h1 Listing lock_role_overrides

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @lock_role_overrides.each do |lock_role_override|
      %tr
        %td= link_to 'Show', lock_role_override
        %td= link_to 'Edit', edit_lock_role_override_path(lock_role_override)
        %td= link_to 'Destroy', lock_role_override, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Role override', new_lock_role_override_path
