%h1 Listing core_attachments

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @core_attachments.each do |core_attachment|
      %tr
        %td= link_to 'Show', core_attachment
        %td= link_to 'Edit', edit_core_attachment_path(core_attachment)
        %td= link_to 'Destroy', core_attachment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Attachment', new_core_attachment_path
