// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alternative-avatar {
    width: 100%;
    height: 100;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background: skyblue;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 2.4rem;
}

.profile-card-information .media {
    align-items: center;
    strong {
        font-size: 1.2rem;
    }
}
