%h1 Listing locks

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @locks.each do |lock|
      %tr
        %td= link_to 'Show', lock
        %td= link_to 'Edit', edit_lock_path(lock)
        %td= link_to 'Destroy', lock, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lock', new_lock_path
