%h1 Listing company_location_states

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @company_location_states.each do |company_location_state|
      %tr
        %td= link_to 'Show', company_location_state
        %td= link_to 'Edit', edit_company_location_state_path(company_location_state)
        %td= link_to 'Destroy', company_location_state, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Location state', new_company_location_state_path
