

// · 
section.cloudhaus-login {

    $primary: rgb(0, 83, 128);
    $secondary: rgb(32, 168, 216);
    $tertiary: rgb(217, 244, 251);
    display: block;
    background-color: get-lesli-css-color(standard, white);

    .login-header {
        background-color: $primary;
        text-align: center;
        height: 7em;
        img {
            height: 7em;
        }
    }

    .login-information {
        font-size: 14px;
        margin: 1.2rem;
        p.has-text-primary {
            color: $primary;
        }
    }

    .login-form {
        padding: 1rem 1.5rem;
        background-color: $tertiary;
        max-width: 700px;
        margin: 0 auto;
        width: 96%;
        h2,p {
            color: $primary;
        }
        p {
            font-size: 14px;
            margin-bottom: .6rem;
        }
        .has-text-primary i {
            color: $primary;
        }
    }

    .login-controls {
        padding: .6rem 0;
        a {
            background: transparent;
            border-color: transparent;
        }
        button {
            padding: 0 6rem;
            background-color: $primary;
        }
    }
}
