<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<%

# default icons
app_icon = "app-icon"
app_logo = "app-logo"

# custom icons for LesliCloud
if defined?(LesliCloud)
    app_icon = "app-icon-light"
    app_logo = "app-logo-light"
end

%>

<%# check if custom navigation partial exists, getting the path from application helper %>
<% custom_sidebar_path = "layouts/#{lesli_engine.dig(:code)}/partials/application-sidebar" %>

<%# always use the navigation from the builder engine, to bring a better navigation experience to the users, currently enabled only for lesli_cloud %>
<%# custom_sidebar_path = "layouts/#{lesli_instance_code}/partials/application-navigation" if lesli_instance_code == "lesli_cloud" %>

<%# dedicated navigation for the administration area %>
<% custom_sidebar_path = "layouts/components/sidebar-administration" if is_lesli_administration?() %>

<%# validate the path to be sure the partial exists when trying to render it %>
<% custom_sidebar_exists = lookup_context.exists?(custom_sidebar_path, nil, true) %>

<application-component-sidebar>

    <template v-slot:brand>
        <%= customization_instance_logo_tag(logo: app_icon, options: { alt: "App logo", class: "is-hidden-desktop" }) %>
        <%= customization_instance_logo_tag(logo: app_logo, options: { alt: "App logo", class: "is-hidden-touch" }) %>
    </template>

    <%# render navigation partial %>
    <% if custom_sidebar_exists %>
        <%= render partial: custom_sidebar_path %>
    <% end %>


    <%# Context message, set this message at the root of the lesli.yml or lesli.server.yml file Ej: context: "Hallo"%>
    <% unless Rails.application.config.lesli.dig(:context).blank? %>
        <template v-slot:context>
            <p v-cloak class="has-background-warning has-text-centered py-2">
                <%= Rails.application.config.lesli[:context] %>
            </p>
        </template>
    <% end %>

</application-component-sidebar>
