%footer
    %nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
        .navbar-brand
            %a.navbar-item{:href => "https://lesli.cloud"}
                = @account[:company][:name]
        %a.navbar-item
            = '-'
        %a.navbar-item
            %small
                = @account[:user][:name]

        .navbar-menu
            .navbar-start
            .navbar-end
                %a.navbar-item{:href => "https://lesli.cloud"}
                    LesliCloud
                %a.navbar-item
                    Privacy
