%meta{:charset => "utf-8"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
-#%link{:href => "/assets/img/brand/favicon.png", :rel => "icon", :type => "image/png"}
%title Cloud • Deutsche Leibrenten Grundbesitz AG
= csrf_meta_tags
= csp_meta_tag
