<footer class="application-footer">
    <nav class="navbar" aria-label="main navigation" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <%= @account[:company][:name] %>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <% if defined?(CloudHaus) %>
                <span class="navbar-item has-text-grey">
                    version <%= CloudHaus::VERSION %> - 
                    build <%= CloudHaus::BUILD %>-<%= CloudHaus::BUILD_TIME %>
                </span>
                <% end %>
                <% if defined?(LesliCloud) %>
                <a class="navbar-item" href="#">
                    Privacy
                </a>
                <% end %>
            </div>
        </div>
    </nav>
</footer>
