= javascript_include_tag "i18n"
= javascript_include_tag "translations", skip_pipeline: true

- path_segments = controller_path.split("/")
- cloud_module = path_segments.shift
= javascript_include_tag [cloud_module, path_segments.push("app").compact().join("_")].join("/")

-# %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCN4i4BWJS-IVtniSMY1Ot2MGaKuTKLNP8"}
-# %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"}

