%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css"}
= stylesheet_link_tag controller_path, media: 'all'
= stylesheet_link_tag app_theme_stylesheet_path(), media: 'all'
