<% if notice %>
    <div class="notification is-primary">
        <p>
            <%= notice %>
        </p>
    </div>
<% end %>
<% if alert %>
    <div class="notification is-warning">
        <p>
            <%= alert %>
        </p>
    </div>
<% end %>
