%nav.sidenav
    %ul
        %li
            %a{":href" => "url.to('team').href"}
                %img{:alt => "CloudTeam logo", :src => "/assets/cloudteam/brand/team-logo.svg"}/
                team
                
