<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>


<%# check if custom navigation partial exists, getting the path from application helper %>
<% custom_navigation_partial_exists = lookup_context.exists?(get_application_navigation_path, nil, true) %>


<application-component-sidebar>

    <%# load logos %>
    <template v-slot:brand>
        <a class="brand" href="/">
            <%= image_tag "#{lesli_instance_code}/brand/app-icon.svg", alt: "Lesli logo", :class => "is-hidden-desktop" %>
            <%= image_tag "#{lesli_instance_code}/brand/app-name.svg", alt: "Lesli logo", :class => "is-hidden-touch" %>
        </a>
    </template>

    <%# render navigation partial %>
    <% if custom_navigation_partial_exists %>
    <%= render partial: get_application_navigation_path %>
    <% end %>

</application-component-sidebar>
