%aside
    %nav
        %ul
            %li
                %a{":href" => "url.to('team').href"}
                    %img{:alt => "CloudTeam logo", :src => "/assets/cloudteam/brand/team-logo.svg"}/
                    team
            %li
                %a{":href" => "url.to('driver').href"}
                    %img{:alt => "CloudDriver logo", :src => "/assets/clouddriver/brand/driver-logo.svg"}/
                    driver
            %li
                %a{":href" => "url.to('bell').href"}
                    %img{:alt => "CloudBell logo", :src => "/assets/cloudbell/brand/bell-logo.svg"}/
                    bell
            %li
                %a{":href" => "url.to('books').href"}
                    %img{:alt => "CloudBooks logo", :src => "/assets/cloudbooks/brand/books-logo.svg"}/
                    books
            %li
                %a{":href" => "url.to('help').href"}
                    %img{:alt => "CloudHelp logo", :src => "/assets/cloudhelp/brand/help-logo.svg"}/
                    help
            %li
                %a{":href" => "url.to('kb').href"}
                    %img{:alt => "CloudKb logo", :src => "/assets/cloudkb/brand/kb-logo.svg"}/
                    kb
            %li
                %a{":href" => "url.to('panel').href"}
                    %img{:alt => "CloudPanel logo", :src => "/assets/cloudpanel/brand/panel-logo.svg"}/
                    panel
            %li
                %a{":href" => "url.to('lock').href"}
                    %img{:alt => "CloudLock logo", :src => "/assets/cloudlock/brand/lock-logo.svg"}/
                    lock
