= javascript_include_tag "i18n"
= javascript_include_tag "translations", skip_pipeline: true

- path_segments = controller_path.split("/")
- cloud_module = path_segments.shift
- js_path = [cloud_module, path_segments.push("app").compact().join("_")].join("/")


= javascript_include_tag js_path

