%footer
    %nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
        .navbar-brand
            %a.navbar-item{:href => "https://bulma.io"}
                LesliCloud

        .navbar-menu
            .navbar-start
            .navbar-end
                %a.navbar-item
                    Privacy
