= stylesheet_link_tag controller_path, media: 'all'
= stylesheet_link_tag "themes/deutsche-leibrenten", media: ''
-#= stylesheet_link_tag "/themes/#{@settings['theme_default']}", media: 'all'
-#= stylesheet_link_tag "/themes/", media: 'all'
