<%#

Copyright (c) 2020, all rights reserved.

All the information provided by this platform is protected by international laws related  to 
industrial property, intellectual property, copyright and relative international laws. 
All intellectual or industrial property rights of the code, texts, trade mark, design, 
pictures and any other information belongs to the owner of this platform.

Without the written permission of the owner, any replication, modification,
transmission, publication is strictly forbidden.

For more information read the license file including with this software.

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 

%>

<footer class="application-footer">
    <nav class="navbar" aria-label="main navigation" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <%= Rails.application.config.lesli_settings["account"]["company"]["name"] %>
                &bull;
                <%= Rails.application.config.lesli_settings["account"]["company"]["tag_line"] %>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <% if defined?(DeutscheLeibrenten) %>
                <span class="navbar-item has-text-grey">
                    version <%= @account[:revision][:version] %> - 
                    build <%= @account[:revision][:build] %>
                </span>
                <% end %>
                <% if defined?(LesliCloud) %>
                <a class="navbar-item" href="#">
                    Privacy
                </a>
                <% end %>
            </div>
        </div>
    </nav>
</footer>
