
- engine = controller_path.split('/')[0]
= render partial: 'layouts/partials/cloudbell-module-navigation' if engine == "cloud_bell"
= render partial: 'layouts/partials/cloudteam-module-navigation' if engine == "cloud_team"
= render partial: 'layouts/partials/cloudkb-module-navigation' if engine == "cloud_kb"
