%h1 Listing company_currencies

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @company_currencies.each do |company_currency|
      %tr
        %td= link_to 'Show', company_currency
        %td= link_to 'Edit', edit_company_currency_path(company_currency)
        %td= link_to 'Destroy', company_currency, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Currency', new_company_currency_path
