name: Cleanup
on:
  schedule:
    - cron:  '0 6 * * *'
  workflow_dispatch:

jobs:
    cleanup:
        name: Cleanup
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
        - name: Checkout GitHub Actions Repo
          uses: actions/checkout@v2
          with:
            repository: leitfaden/github_actions
            ref: production
            token: ${{ secrets.PUBLISH_GEM_BY_ACTIONS }}
            path: ./.github/
        - name: Delete Old Branches
          uses: ./.github/actions/git_branch_delete_old
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            date: '20 days ago'
            dry_run: false
