!!!
%html
    %head
        = render 'layouts/partials/application_head'
        = render 'layouts/partials/application_asset_css'
        = render 'layouts/partials/application_asset_js'
    %body
        %main#lesli_cloud_app
            = render 'layouts/partials/application_alert'
            %component-header
            =yield
