!!!
%html
    %head
        = render 'layouts/partials/application_head'
        = render 'layouts/partials/application_asset_css'
    %body
        %main#lesli_cloud_app
            = render 'layouts/partials/application_alert'
            =yield
