<script>
document.addEventListener('turbo:load', () => {
    const stored = localStorage.getItem('engineData')
    const data = stored ? JSON.parse(stored) : { engines: [] }

    data.engines.forEach(id => {
        const el = document.getElementById(id.replace("lesli"))
        if (el) el.style.display = 'none'
    })
})
</script>
<%
@navigation_engines = [
    :dashboard, 
    :admin, 
    :mailer,
    :bell, 
    :calendar, 
    :papers,
    :support,
    :shield, 
    :security,
    :audit,
    :babel
]
%>

<%= render(LesliView::Layout::Container.new("lesli-apps", dashboard: true)) do %>

    <%= render("lesli_dashboard/dashboards/shared/header") if defined?(LesliDashboard) %>

    <section class="lesli-application-engines">
        <div class="engines-container">
            <div class="engines">
                <% @navigation_engines.each do |engine| %>
                    <%= public_send("navigation_engine_#{engine}") %>
                <% end %>
            </div>
        </div>
    </section>
<% end %>
