<script>
document.addEventListener('turbo:load', () => {
    const stored = localStorage.getItem('engineData')
    const data = stored ? JSON.parse(stored) : { engines: [] }

    data.engines.forEach(id => {
        const el = document.getElementById(id.replace("lesli"))
        if (el) el.style.display = 'none'
    })
})
</script>
<%
@navigation_engines = [
    :dashboard, 
    :admin, 
    :mailer,
    :bell, 
    :contacts,
    :calendar, 
    :papers,
    :support,
    :shield, 
    :security,
    :audit,
    :babel
]
%>

<%= render(LesliView::Layout::Container.new("lesli-apps", dashboard: false)) do %>
    <%= render("lesli_dashboard/dashboards/shared/header") if defined?(LesliDashboard) %>
    <section class="lesli-engines">
        <div class="grid justify-center gap-6 [grid-template-columns:repeat(auto-fit,minmax(260px,318px))]">
            <% @navigation_engines.each do |engine| %>
                <%= public_send("navigation_engine_#{engine}") %>
            <% end %>
        </div>
    </section>
<% end %>
